.menu-item {
    float: left;
    list-style: none;
    padding: 10px;
    border-right: 1px solid #C60A11;
}

.menu-item a {
    color: #FFF;
    text-decoration: none;
}

.menu-item:hover {
    background: #C60A11;
    cursor: pointer;
}

@media (max-width:768px) {
    .menu-item {
        float: none;
        border: none;
        border-bottom: 1px solid #C60A11;
    }
}