<ul>

    <!-- NO HAVE API -->
    <!-- <li class="menu-item"><a routerLink="Category">iPhone</a></li>
    <li class="menu-item"><a routerLink="Category">Samsung</a></li>
    <li class="menu-item"><a routerLink="Category">HTC</a></li>
    <li class="menu-item"><a routerLink="Category">Nokia</a></li>
    <li class="menu-item"><a routerLink="Category">Sony</a></li>
    <li class="menu-item"><a routerLink="Category">Blackberry</a></li> -->
    <!-- END NO HAVE API -->


    <!-- HAVE API -->
    <li class="menu-item" *ngFor="let item of categories">
        <a routerLink="/Category/{{item._id}}">{{item.name}}</a>
    </li>
    <!-- END HAVE API -->
</ul>