<div class="products">
    <h1>Tổng hợp thông tin ra mắt Iphone 2018</h1>
    <div class="product-list card-deck">


        <div style="font-size:14px; line-height:25px; text-align:justify">
            <p>Tối nay, ngày 12/9 theo giờ Việt Nam, Apple sẽ trình làng những sản phẩm công nghệ nổi bật mà theo giới
                chuyên
                môn dự đoán là có thể sẽ có 2 bản nâng cấp đó chính là iPhone 7S, 7S Plus&nbsp; và 8.</p>
            <h3><strong>Điện thoại mới của Apple có thể mang tên iPhone 8, iPhone 8 Plus và iPhone X</strong></h3>
            <p style="text-align:center"><img alt="Thiết kế hoàn toàn mới của Apple"
                    src="assets/images/information-image.png"
                    style="height:339px; width:700px" class="loading" data-was-processed="true"></p>
            <p style="text-align:center"><em>Thiết kế hoàn toàn mới của Apple</em></p>
            <p>Theo Neowin, mặc dù tên gọi chưa được xác nhận chính thức nhưng dựa vào dữ liệu firmware iOS rò rỉ, thành
                viên
                Steven Troughton-Smith cho biết trên Twitter rằng đã nhận ra các tên gọi iPhone 8, iPhone 8 Plus và
                iPhone X mà
                Apple dự kiến sử dụng trên sản phẩm của mình.</p>
            <p>Điện thoại iPhone X được
                cho là
                phiên bản cao cấp của Apple với thiết kế hoàn toàn mới, màn hình OLED tốt hơn, máy ảnh tốt hơn và khả
                năng mở
                khóa bằng công nghệ nhận diện khuôn mặt 3D. Trong khi đó, iPhone 8 và iPhone 8 Plus là những bản kế
                nhiệm của
                iPhone hiện tại và sẽ trang bị chip xử lý nhanh hơn và màn hình LCD tốt hơn.</p>
            <h3><strong>iPhone 8 tích hợp đến 5 cảm biến để hỗ trợ camera 3D</strong></h3>
            <p>Theo nhiều nguồn tin cho biết, bộ phận đặt cảm biến ở phía trên mặt trước iPhone 8 được gọi là notch. Tại
                đây sẽ
                có các cảm biến khác nhau như bộ truyền cấu trúc ánh sáng, bộ thu cấu trúc ánh sáng, cảm biến khoảng
                cách, cảm
                biến ánh sáng xung quanh và cảm biến camera. Apple đã bổ sung hai bộ phận cảm biến mới là bộ truyền cấu
                trúc ánh
                sáng và bộ thu cấu trúc ánh sáng.</p>
            <p style="text-align:center"><img alt="Camera 3D trên iPhone 8 có thể sẽ được tích hợp đến 5 cảm biến"
                    src="assets/images/information-image-1.png"
                    style="height:430px; width:700px" class="loading" data-was-processed="true"></p>
            <p style="text-align:center"><em>Camera 3D trên iPhone 8 có thể sẽ được tích hợp đến 5 cảm biến</em></p>
            <p>Mô tả về các cảm biến trên iPhone 8, báo cáo cho rằng cảm biến cấu trúc ánh sáng được sử dụng để thu thập
                thông
                tin chiều sâu, tích hợp dữ liệu hình ảnh 2D từ camera phía trước để tạo ra hình ảnh 3D hoàn chỉnh.</p>
            <h3><strong>iPhone 8 tích hợp nhận dạng khuôn mặt, loại bỏ Touch ID và sử dụng màn hình OLED </strong></h3>
            <p style="text-align:center"><img alt="Màn hình OLED"
                    src="assets/images/information-image-2.png"
                    style="height:394px; width:700px" class="loading" data-was-processed="true"></p>
            <p style="text-align:center"><em>Màn hình OLED </em></p>
            <p>iPhone 8 cũng sẽ là smartphone đầu tiên của Apple sử dụng màn hình OLED thay cho màn hình LCD. Nhằm thay
                thế cho
                cảm biến vân tay Touch ID, Apple sẽ trang bị cho iPhone 8 công nghệ nhận dạng khuôn mặt, sử dụng máy ảnh
                đặc
                biệt với khả năng quét 3D. Dự kiến, công nghệ này có tên “Face ID” hoặc “Pearl ID”, cực kỳ an toàn và
                nhanh
                chóng.</p>
            <h3><strong>Bộ vi xử lý A11 được trang bị lên iPhone mới</strong></h3>
            <p>Chiếc iPhone 8 sẽ được trang bị bộ vi xử lý A11 mới nhất xây dựng trên tiến trình 10nm, màn hình OLED 5.8
                inch,
                cụm camera kép phía sau độ phân giải 12 MP, camera trước độ phân giải 7 MP, RAM 3GB, bộ nhớ trong 64GB
                hoặc
                256GB và hỗ trợ sạc không dây.</p>
            <h3><strong>iPhone 7S, 7S và iPhone 8 </strong></h3>
            <p>Apple sẽ phát hành cùng lúc ba chiếc điện
                    thoại di động&nbsp;thay vì chỉ hai như một vài năm trở đây. Nhiều nguồn tin cho rằng, iPhone 8
                sẽ ra mắt
                cùng với iPhone 7s và 7s Plus; nhưng cũng có những thông tin là bộ ba smartphone mà Apple sẽ tung ra là
                iPhone
                8, iPhone 8 Plus và “iPhone Edition” hoặc “iPhone X”.</p>
            <p>Những chiếc iPhone 7s và iPhone 7s Plus sẽ mang những điểm đặc trưng của dòng “S” mà Apple từng tung ra
                trước
                đây, cụ thể là cấu hình được nâng cấp mạnh mẽ, nhưng thiết kế lại được giữ nguyên. Mặc dù vậy, đã có
                nhiều thông
                tin cho biết iPhone 7s năm nay sẽ chuyển sang sử dụng mặt lưng làm bằng kính thay cho kim loại, nhằm hỗ
                trợ cho
                tính năng sạc không dây.</p>
            <h3><strong>iPhone 8 sẽ có tên là iPhone X?</strong></h3>
            <p>Trái với tên gọi iPhone 8 xuất hiện với các thông tin dày đặc trước khi ra mắt, mẫu iPhone thiết kế mới
                được cho
                mang tên chính thức iPhone X. Nếu theo cách viết số La Mã, iPhone X sẽ là iPhone 10. Cách đặt tên kiểu
                này phù
                hợp hơn để đánh dấu sản phẩm ra mắt kỷ niệm 10 năm iPhone có mặt trên thị trường.</p>
            <p>iPhone X hứa hẹn được trang bị màn hình có kích thước lớn nhất trên iPhone từ trước đến nay, mang thiết
                kế kiểu
                sát cạnh với viền siêu mỏng. Hàng loạt tin tức gần đây cũng xác nhận Apple sẽ sử dụng tấm nền OLED, thay
                vì LCD
                như trên tất cả các mẫu iPhone 10 năm qua. Nút Home vật lý, cảm biến vân tay TouchID cũng bị loại bỏ ở
                iPhone X
                như&nbsp;iPhone 14
                    Pro 512GB &nbsp;để thay thế bằng phím điều khiển ảo và cảm biến bảo mật nhận dạng khuôn mặt 3D.
            </p>
            <h3><strong>Tích hợp sạc không dây, không có sạc nhanh</strong></h3>
            <p style="text-align:center"><img
                    alt="Thiết bị được cho là đế sạc không dây của iPhone 8 xuất hiện trên Weibo"
                    src="assets/images/information-image-3.png"
                    style="height:417px; width:700px" class="loading" data-was-processed="true"></p>
            <p style="text-align:center"><em>Thiết bị được cho là đế sạc không dây của iPhone 8 xuất hiện trên
                    Weibo</em></p>
            <p>Một nguồn tin cho biết Apple sẽ sử dụng chuẩn sạc không dây Qi cho iPhone 8. Tuy vậy, tiêu chuẩn Qi 1.2
                (tức sạc
                tối đa 15 watt) sẽ không được áp dụng, thay vào đó là tiêu chuẩn với năng lượng đầu vào tối đa 7,5 watt
                (5V/1,5A). Thêm vào đó, Apple có thể sẽ sử dụng chip có chứng chỉ MFI để kiểm soát phụ kiện bên thứ ba.
                Như vậy,
                nhiều khả năng iPhone mới sẽ không thể sử dụng pad sạc chuẩn Qi của các hãng khác để sạc.</p>
            <p>Theo trang PhoneArena, iPhone 8 sẽ có pin 2.700 mAh, chỉ thấp hơn pin 2.900 mAh trong 7 Plus một chút.
            </p>
            <h3><strong>Mức giá bán</strong></h3>
            <p>iPhone 8 dự kiến sẽ có giá 999 USD (~22,7 triệu đồng) cho phiên bản 64GB, 1099 USD (~25 triệu đồng) cho
                phiên bản
                256GB. Nếu phiên bản 512 GB được ra mắt thì nó có thể rơi vào tầm giá 1199 $ (27,2 triệu đồng). Ba màu
                sắc của
                iPhone 8 mà người dùng có thể lựa chọn là Black, Silver và Blush Gold hoàn toàn mới. Trong khi đó,
                iPhone 7s và
                7s Plus sẽ có giá bằng iPhone 7 và 7 Plus hiện nay (khởi điểm từ 649/769 USD).</p>
        </div>

    </div>
</div>