<app-skeleton *ngIf="skeleton"></app-skeleton>
<!--	List Product	-->
<div *ngIf="!skeleton" id="product">
    <div id="product-head" class="row">
        <div id="product-img" class="col-lg-6 col-md-6 col-sm-12">
            <img src="{{imgUrl}}">
        </div>
        <div id="product-details" class="col-lg-6 col-md-6 col-sm-12">
            <h1>{{product.name}}</h1>
            <ul>
                <li><span>Bảo hành:</span> 12 Tháng</li>
                <li><span>Đi kèm:</span>{{product.accessories}} </li>
                <li><span>Tình trạng:</span> {{product.status}} </li>
                <li><span>Khuyến Mại:</span> {{product.promotion}} </li>
                <br>
                <li id="price">Giá Bán (chưa bao gồm VAT)</li>
                <li id="price-number">{{product.price | transferCurrencyMoney}} </li>
                <li id="status">
                    <span *ngIf="product.is_stock; else outOfStock">Còn hàng</span>
                    <ng-template #outOfStock>Hết hàng</ng-template>
                </li>
            </ul>
            <div id="add-cart">
                <button (click)="updateCart('buy-now')" class="btn btn-warning mr-2">
                    Mua ngay
                </button>

                <button (click)="updateCart('')" class="btn btn-info">
                    Thêm vào giỏ hàng
                </button>
            </div>
        </div>
    </div>
    <div id="product-body" class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h3>Đánh giá về {{product.name}}</h3>
            <p>
                {{product.details}}
            </p>
            
        </div>
    </div>
    
    <!--	Comment	-->
    <div *ngIf="!skeleton" id="comment" class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h3>Bình luận sản phẩm</h3>
            <form method="post" [formGroup]="myForm" (submit)="submitComment($event)">
                <div class="form-group" >
                    <label>Tên:</label>
                    <input [(ngModel)]="data['name']" formControlName="name" required type="text" class="form-control" placeholder="Tên ( bắt buộc )" />
                </div>
                <div class="form-group">
                    <label>Email:</label>
                    <input [(ngModel)]="data['email']"  formControlName="email" required type="email" class="form-control" id="pwd" />
                </div>
                <div class="form-group">
                    <label>Nội dung:</label>
                    <textarea [(ngModel)]="data['content']"  formControlName="contents" required rows="8" class="form-control"></textarea>     
                </div>
                <button type="submit" name="sbm" class="btn btn-primary">Gửi</button>
            </form> 
        </div>
    </div>
    <!--	End Comment	-->  
    
    <!--	Comments List	-->
    <div *ngIf="!skeleton" id="comments-list" class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="comment-item" *ngFor="let item of comment">
                <div>
                    <ul>
                        <li><b>{{item.name}}</b></li>
                        <li>{{item.updatedAt | date:'dd/MM/yyyy HH:mm:ss'}}</li>
                        <li>
                            <p>{{item.content}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--	End Comments List	-->
</div>
<!--	End Product	--> 

<div id="pagination">
    <app-pagination [pages]="pages"></app-pagination>
</div>