<app-skeleton *ngIf="skeleton"></app-skeleton>
<!--	List Product	-->
<div *ngIf="!skeleton" class="products">
    <div id="search-result">Kết quả tìm kiếm với sản phẩm <span>{{keyword}}</span></div>
    <div class="product-list card-deck">
        <!-- HAVE API -->
        <div class="product-item card text-center" *ngFor="let item of products">
            <div>
                <app-product-items [item]="item"></app-product-items>
            </div>
        </div>
        <!-- END HAVE API -->
    </div>
</div>
<!--	End List Product	-->

<div id="pagination">
    <app-pagination [pages]="pages"></app-pagination>
</div>