<div class="products">
    <h3>Hot sale</h3>
    <div class="product-list card-deck">

        <!-- NO HAVE API -->
        <div class="product-item card text-center" *ngFor="let item of saleProducts">
            <div>
                <a routerLink="/ProductDetails/{{item._id}}"><img src="{{getImage(item.image)}}"></a>
                <h4><a routerLink="/ProductDetails/{{item._id}}">{{item.name}}</a></h4>
                <p>Giá Bán: <span><s style="color: red;">{{item.price*1.05 | transferCurrencyMoney}}</s></span></p>
                <p>Giảm giá: <span style="color: black;">{{item.price | transferCurrencyMoney}}</span></p>
            </div>
        </div>
        <!-- END NO HAVE API -->

    </div>
</div>

<div class="products">
    <h3>Mua combo phụ kiện giảm giá</h3>
    <div class="product-list card-deck">

        <!-- NO HAVE API -->
        <div class="product-item card text-center" *ngFor="let item of comboSaleProducts">
            <div>
                <a routerLink="/ProductDetails/{{item._id}}"><img src="{{getImage(item.image)}}"></a>
                <h4><a routerLink="/ProductDetails/{{item._id}}">{{item.name}}</a></h4>
                <p>Giá Bán: <span><s style="color: red;">{{item.price*1.05 | transferCurrencyMoney}}</s></span></p>
                <p>Giảm giá: <span style="color: black;">{{item.price | transferCurrencyMoney}}</span></p>
            </div>
        </div>
        <!-- END NO HAVE API -->

    </div>
</div>