<!--	List Product	-->
<div class="products">
    <h3>{{productItem.name}}  iPhone (hiện có {{productItem.length}} 186 sản phẩm)</h3>
    <div class="product-list card-deck">

        <!-- NO HAVE API -->
        <div class="product-item card text-center">
            <a routerLink="/ProductDetails"><img src="assets/images/product-1.png"></a>
            <h4><a routerLink="/ProductDetails">iPhone Xs Max 2 Sim - 256GB</a></h4>
            <p>Giá Bán: <span>32.990.000đ</span></p>
        </div>
        <div class="product-item card text-center">
            <a routerLink="/ProductDetails"><img src="assets/images/product-2.png"></a>
            <h4><a routerLink="/ProductDetails">iPhone Xs Max 2 Sim - 256GB</a></h4>
            <p>Giá Bán: <span>32.990.000đ</span></p>
        </div>
        <div class="product-item card text-center">
            <a routerLink="/ProductDetails"><img src="assets/images/product-3.png"></a>
            <h4><a routerLink="/ProductDetails">iPhone Xs Max 2 Sim - 256GB</a></h4>
            <p>Giá Bán: <span>32.990.000đ</span></p>
        </div>
    </div>
    <div class="product-list card-deck">
        <div class="product-item card text-center">
            <a routerLink="/ProductDetails"><img src="assets/images/product-4.png"></a>
            <h4><a routerLink="/ProductDetails">iPhone Xs Max 2 Sim - 256GB</a></h4>
            <p>Giá Bán: <span>32.990.000đ</span></p>
        </div>
        <div class="product-item card text-center">
            <a routerLink="/ProductDetails"><img src="assets/images/product-5.png"></a>
            <h4><a routerLink="/ProductDetails">iPhone Xs Max 2 Sim - 256GB</a></h4>
            <p>Giá Bán: <span>32.990.000đ</span></p>
        </div>
        <div class="product-item card text-center">
            <a routerLink="/ProductDetails"><img src="assets/images/product-6.png"></a>
            <h4><a routerLink="/ProductDetails">iPhone Xs Max 2 Sim - 256GB</a></h4>
            <p>Giá Bán: <span>32.990.000đ</span></p>
        </div>
    </div>
    <div class="product-list card-deck">
        <div class="product-item card text-center">
            <a routerLink="/ProductDetails"><img src="assets/images/product-7.png"></a>
            <h4><a routerLink="/ProductDetails">iPhone Xs Max 2 Sim - 256GB</a></h4>
            <p>Giá Bán: <span>32.990.000đ</span></p>
        </div>
        <div class="product-item card text-center">
            <a routerLink="/ProductDetails"><img src="assets/images/product-8.png"></a>
            <h4><a routerLink="/ProductDetails">iPhone Xs Max 2 Sim - 256GB</a></h4>
            <p>Giá Bán: <span>32.990.000đ</span></p>
        </div>
        <div class="product-item card text-center">
            <a routerLink="/ProductDetails"><img src="assets/images/product-9.png"></a>
            <h4><a routerLink="/ProductDetails">iPhone Xs Max 2 Sim - 256GB</a></h4>
            <p>Giá Bán: <span>32.990.000đ</span></p>
        </div>
        <!-- END NO HAVE API -->


        <!-- HAVE API -->
        <div *ngFor="let item of product">
            <app-product-items  [item]="item"></app-product-items>
        </div>
        <!-- END HAVE API -->
        
    </div>
</div>
<!--	End List Product	-->

