<div class="products">
    <h1>Tổng hợp thông tin ra mắt Iphone 2018</h1>
    <div class="product-list card-deck">
        <div class="warranty-content column">
            <p><span style="font-size: small;">Khi mua sản phẩm tại Cellphones.com.vn, khách hàng có quyền hoàn toàn yên
                    tâm với
                    sản phẩm chính hãng, được bảo hành chính thức tại hãng và ngoài ra có thêm chính sách đổi mới miễn
                    phí lên
                    tới 30 ngày tại CellphoneS</span></p>
            <table class="table table-bordered">
                <thead>
                    <tr class="success">
                        <th style="text-align: center;"><span><strong>Loại sản
                                    phẩm</strong></span>
                        </th>
                        <th style="text-align: center;"><span><strong>Đổi mới miễn phí
                                    (*)</strong></span></th>
                        <th style="text-align: center;"><span style="font-size: small;"><strong>Quy định nhập lại, trả
                                    lại</strong></span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align: left;"><span style="font-size: small;">Điện thoại/ Máy tính bảng/
                                Macbook/ Apple
                                watch</span></td>
                        <td style="text-align: center;"><span style="font-size: small;">30 ngày</span></td>
                        <td style="text-align: left;"><span style="font-size: small;">- Trong 30 ngày đầu nhập lại máy,
                                trừ phí
                                20% trên giá hiện tại (hoặc giá mua nếu giá mua thấp hơn giá hiện tại)</span><br><span
                                style="font-size: small;">- Sau 30 ngày nhập lại máy theo giá thoả thuận</span></td>
                    </tr>
                    <tr>
                        <td style="text-align: left;"><span style="font-size: small;">Samsung Watch</span></td>
                        <td style="text-align: center;"><span style="font-size: small;">30 ngày</span></td>
                        <td style="text-align: left;"><span style="font-size: small;">- Trong 30 ngày đầu nhập lại máy,
                                trừ phí
                                30% trên giá hiện tại (hoặc giá mua nếu giá mua thấp hơn giá hiện tại)</span><br><span
                                style="font-size: small;">- Sau 30 ngày nhập lại máy theo giá thoả thuận</span></td>
                    </tr>
                    <tr>
                        <td style="text-align: left;"><span style="font-size: small;">Laptop</span></td>
                        <td style="text-align: center;"><span style="font-size: small;">30 ngày</span></td>
                        <td style="text-align: left;"><span style="font-size: small;">- Trong 30 ngày đầu nhập lại máy,
                                trừ phí
                                20% trên giá hiện tại (hoặc giá mua nếu giá mua thấp hơn giá hiện tại)</span><br><span
                                style="font-size: small;">- Sau 30 ngày: Nhập lại theo thoả thuận</span></td>
                    </tr>
                    <tr>
                        <td style="text-align: left;"><span style="font-size: small;">Loa - Tai nghe cao cấp</span></td>
                        <td style="text-align: center;"><span style="font-size: small;">30 ngày</span></td>
                        <td style="text-align: left;">
                            <p><span style="font-size: small;">- Trong 30 ngày đầu: Nhập lại trừ phí 40% trên giá mua
                                    ban
                                    đầu</span></p>
                            <p><span style="font-size: small;"></span><span style="font-size: small;">- Từ 31 - 60 ngày:
                                    Nhập
                                    lại t<span>rừ phí 50% trên giá mua ban đầu</span>&nbsp;</span></p>
                            <p><span style="font-size: small;">Lưu ý: Quá 60 ngày tính từ ngày mua ban đầu, không áp
                                    dụng chính
                                    sách nhập trả</span></p>
                            <p></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;"><span style="font-size: small;">Phụ kiện &lt; 1 triệu</span></td>
                        <td style="text-align: center;"><span style="font-size: small;">1 năm(Sản phẩm mua
                                mới)</span><br><span style="font-size: small;">1 tháng(Sản phẩm mua cũ)</span></td>
                        <td style="text-align: left;"><span style="font-size: small;">Không áp dụng nhập lại</span></td>
                    </tr>
                    <tr>
                        <td style="text-align: left;"><span style="font-size: small;">Phụ kiện &gt; 1 triệu</span></td>
                        <td style="text-align: center;"><span style="font-size: small;">15 ngày</span></td>
                        <td style="text-align: left;">
                            <p><span style="font-size: small;">Không áp dụng nhập lại.</span><br><span
                                    style="font-size: small;">Riêng Airpod:</span><br><span style="font-size: small;">-
                                    Trong 15
                                    ngày đầu nhập lại máy, trừ phí 20% trên giá hiện tại (hoặc giá mua nếu giá mua thấp
                                    hơn giá
                                    hiện tại)</span><br><span style="font-size: small;">- Sau 15 ngày nhập lại máy theo
                                    giá thoả
                                    thuận</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;"><span style="font-size: small;">Nhà thông minh</span></td>
                        <td style="text-align: center;"><span style="font-size: small;">15 ngày</span></td>
                        <td style="text-align: left;"><span style="font-size: small;">Không áp dụng nhập lại</span></td>
                    </tr>
                    <tr>
                        <td style="text-align: left;"><span style="font-size: small;">Tivi</span></td>
                        <td style="text-align: center;">30 ngày</td>
                        <td style="text-align: left;">Không áp dụng nhập lại</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;"><span style="font-size: small;">Hàng cũ</span></td>
                        <td style="text-align: center;"><span style="font-size: small;">30 ngày</span></td>
                        <td style="text-align: left;">
                            <p><span style="font-size: small;">- Trong 30 ngày đầu nhập lại máy, trừ phí 15% trên giá
                                    hiện
                                    tại(hoặc giá mua nếu giá mua thấp hơn giá hiện tại)</span><br><span
                                    style="font-size: small;">- Sau 30 ngày nhập lại máy theo giá thoả thuận</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;"><span style="font-size: small;">Bảo hành mở rộng</span></td>
                        <td style="text-align: center;"><span style="font-size: small;">15 ngày</span></td>
                        <td style="text-align: left;"><span style="font-size: small;">Trong 7 ngày đầu, máy không lỗi,
                                khách
                                hàng trả lại gói BHMR</span><br><span style="font-size: small;">&gt; Nhập lại trừ phí
                                50% gói
                                BHMR</span></td>
                    </tr>
                </tbody>
            </table>
            <p><span style="font-size: small;">(*): Lỗi phần cứng từ phía nhà sản xuất</span></p>
            <p class="mb-2"><span style="text-decoration: underline;"><em><strong><span style="font-size: small;">Điều
                                kiện đổi
                                trả:</span></strong></em></span></p>
            <p><span style="font-size: small;">● Máy: Như mới, không xước xát, không dán decal, hình trang
                    trí</span><br><span style="font-size: small;">● Máy cũ: có tình trạng sản phẩm như lúc mới
                    mua</span><br><span style="font-size: small;">● Hộp: Như mới, không móp méo, rách, vỡ, bị viết, vẽ,
                    quấn băng dính, keo; có
                    Serial/IMEI trên hộp trùng với thân máy.</span><br><span style="font-size: small;">● Phụ kiện và quà
                    tặng:
                    Còn đầy đủ, nguyên vẹn, không móp méo xước xát hoặc bị hư hại trong quá trình sử
                    dụng.</span><br><span style="font-size: small;">● Tài khoản: Máy đã đã được đăng xuất khỏi tất cả
                    các tài khoản như: iCloud,
                    Google Account, Mi Account…</span></p>
            <p><span style="font-size: small;">Các lỗi từ NSX cần được xác định bởi trung tâm bảo hành chính hãng hoặc
                    trung tâm
                    bảo hành uỷ quyền</span></p>
            <p><span style="font-size: small;">(*) Lỗi từ phía Nhà sản xuất là các lỗi bao gồm: Lỗi nguồn, lỗi trên
                    mainboard, ổ
                    cứng, màn hình và các linh kiện phần cứng bên trong</span></p>
            <p><span style="font-size: small;">Lỗi điểm chết màn hình : màn hình có từ 3 điểm chết trở lên hoặc 1 điểm
                    chết có
                    kích thước lớn hơn 1mm đối với điện thoại và từ 5 điểm chết trở lên đối với laptop, màn hình
                    rời</span></p>
            <p>Trường hợp đổi/ trả các sản phẩm xuất hoá đơn Công ty, Khách hàng vui lòng cung cấp Biên bản trả hàng và
                thu hồi
                hóa đơn hoặc Biên bản điều chỉnh giảm hóa đơn GTGT đầy đủ mộc tròn công ty và chữ ký người đại diện Pháp
                luật
                công ty. Trường hợp Khách hàng không cung cấp đầy đủ&nbsp; các chứng từ trên, CellphoneS xin phép thu
                phí dịch
                vụ theo giá trị thuế suất VAT sản phẩm đổi trả.</p>
        </div>
    </div>
</div>